<section>
    <h2>Todos os compromissos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Compromisso</th>
                <th>Local</th>
                <th>Data</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Prova do Glauco</td>
                <td>Fatec-Itu/SP</td>
                <td>03/12/2024</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Entrega do projeto da agenda</td>
                <td>Teams</td>
                <td>10/12/2024</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>