<section>
    <h2>Todos os compromissos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Compromisso</th>
                <th>Local</th>
                <th>Data</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agenda of agendas">
                <td>{{agenda.id}}</td>
                <td>{{agenda.name}}</td>
                <td>{{agenda.local}}</td>
                <td>{{agenda.date}}</td>
                <td>
                    <app-button-edit></app-button-edit>
                    <app-button-delete></app-button-delete>
                </td>
            </tr>
        </tbody>
    </table>
</section>